In [1]:
!pwd

/Users/akhichoudhary/STATS/Thinkstats/Thinkstats2_exercise/Thinkstats/Approach any problem with ml

In [6]:
import os

file_path = '/Users/akhichoudhary/STATS/Thinkstats/Thinkstats2_exercise/Thinkstats/Approach any problem with ml/car-in-the-dat.zip'
print(os.path.exists(file_path))  # Should return True

False

In [24]:
# import zipfile
# import pandas as pd

# df=pd.read_csv('/Users/akhichoudhary/STATS/Thinkstats/Thinkstats2_exercise/Thinkstats/Approach any problem with ml/data/train.csv')

# or-------

# # Path to the ZIP folder
# zip_path = '/Users/akhichoudhary/STATS/Thinkstats/Thinkstats2_exercise/Thinkstats/Approach any problem with ml/cat-in-the-dat.zip'

# # Open the zip and list contents
# with zipfile.ZipFile(zip_path, 'r') as z:
#     print("Files in ZIP:", z.namelist())  # View files like 'train.csv', 'test.csv'

#     # Load specific CSVs
#     with z.open('train.csv') as f:
#         train_df = pd.read_csv(f)

#     with z.open('test.csv') as f:
#         test_df = pd.read_csv(f)

# # Now you can use train_df and test_df as usual
# # print(train_df.head())
# # print(test_df.head())

In [17]:
mapping={
    "Freezing": 0,
    "Warm": 1,
    "Cold": 2,
    "Boiling Hot": 3,
    "Hot": 4,
    "Lava Hot": 5
    
}

In [18]:
train_df.ord_2.value_counts()

ord_2
Freezing       99816
Lava Hot       63908
Boiling Hot    60627
Cold           33768
Hot            22227
Warm           19654
Name: count, dtype: int64

In [19]:
train_df.loc[:,"ord_2"]=train_df.ord_2.map(mapping)

In [20]:
train_df.ord_2.value_counts()

ord_2
0    99816
5    63908
3    60627
2    33768
4    22227
1    19654
Name: count, dtype: int64

## ~ LabelEncoder,OneHotEncoder,Binarization
- above same encoding into numerical value can be done by LabelEncoder from scikit-learn

### Label Encoder

In [22]:
from sklearn import preprocessing
df=pd.read_csv('/Users/akhichoudhary/STATS/Thinkstats/Thinkstats2_exercise/Thinkstats/Approach any problem with ml/data/train.csv')

In [25]:
df.loc[:,"ord_2"]=df.ord_2.fillna("NONE")
# LabelEncoder from scikit-learn does not handle NaN values,

In [26]:
lbl_enc=preprocessing.LabelEncoder()

In [27]:
# fit label encoder and transform values on ord_2 column
# P.S: do not use this directly. fit first, then transform
df.loc[:,"ord_2"]=lbl_enc.fit_transform(df.ord_2.values)

# labelEncoder can be used 
• Decision trees
• Random forest
• Extra Trees
• Or any kind of boosted trees model
o XGBoost
o GBM
o LightGBM
This type of encoding cannot be used in linear models, support vector machines or
neural networks as they expect data to be normalized (or standardized).

✅ What it's saying:
1. For Tree-Based Models (e.g., Decision Trees, Random Forest, XGBoost, LightGBM):
You can use Label Encoding or even leave NaNs in some cases.

Tree models do not require one-hot or binarized encoding because they can naturally handle splits based on categorical values.

That’s why it's okay to use LabelEncoder (after handling NaNs properly) or even ordinal encoding.

2. For Linear Models / SVMs / Neural Networks:
You should not use Label Encoding because it introduces an artificial ordinal relationship between categories (e.g., A=0, B=1, C=2 suggests C > B > A which may not be true).

Instead, you should use One-Hot Encoding or Binarization.

Binarization is converting each category into a binary format (e.g., A → [0 0 1], B → [0 1 0], C → [1 0 0]).

This is often done in sparse format to save memory, since many values will be 0.

❓ So is it suggesting binarization for linear models?
Yes. Specifically, it is saying:

Use binarization/one-hot encoding for models that require numerical input to be normalized:
Linear Regression, Logistic Regression, Support Vector Machines (SVM), and Neural Networks.

Continue with Label Encoding or Ordinal Encoding for tree-based models, which can handle this directly.

| Model Type          | Recommended Encoding     | Notes                             |
| ------------------- | ------------------------ | --------------------------------- |
| Decision Tree       | Label Encoding / Ordinal | Can handle NaNs                   |
| Random Forest       | Label Encoding / Ordinal | Can handle categories             |
| XGBoost / LightGBM  | Label Encoding / Ordinal | Best with category-aware encoding |
| Linear Regression   | One-Hot / Binarization   | Needs numeric & normalized data   |
| Logistic Regression | One-Hot / Binarization   | Same                              |
| SVM                 | One-Hot / Binarization   | Same                              |
| Neural Networks     | One-Hot / Binarization   | Same                              |

-  checking the bytes used by different techniques

In [29]:
import numpy as np
example=np.array([
    [0,0,1],
    [1,0,0],
    [1,0,1]]
)
print(example.nbytes)

72

One way to
represent this matrix only with ones would be some kind of dictionary method in
which keys are indices of rows and columns and value is 1:
══════════════════
(0, 2) 1
(1, 0) 1
(2, 0) 1
(2, 2) 1
══════════════════

In [30]:
from scipy import sparse

example=np.array(
    [[0, 0, 1],
[1, 0, 0],
[1, 0, 1]]
)

sparse_example=sparse.csr_matrix(example)
print(sparse_example.data.nbytes)

32

- The total size of the sparse csr matrix is the sum of three values.

In [32]:
print(
    sparse_example.data.nbytes +
sparse_example.indptr.nbytes +
sparse_example.indices.nbytes
)

64

In [33]:
# number of rows
n_rows = 10000
# number of columns
n_cols = 100000
# create random binary matrix with only 5% values as 1s
example = np.random.binomial(1, p=0.05, size=(n_rows, n_cols))
# print size in bytes
print(f"Size of dense array: {example.nbytes}")
# convert numpy array to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
# print size of this sparse matrix
print(f"Size of sparse array: {sparse_example.data.nbytes}")
full_size = (
sparse_example.data.nbytes +
sparse_example.indptr.nbytes +
sparse_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

Size of dense array: 8000000000
Size of sparse array: 399997896
Full size of sparse array: 600036848

In [35]:
# So, dense array takes ~8000MB or approximately 8GB of memory. The sparse
# array, on the other hand, takes only 399MB of memory.
# And, that’s why we prefer sparse arrays over dense whenever we have a lot of zeros
# in our features.

Even though the sparse representation of binarized features takes much less
memory than its dense representation, there is another transformation for
categorical variables that takes even less memory. This is known as One Hot
Encoding.
One hot encoding is a binary encoding too in the sense that there are only two
values, 0s and 1s.

### Binarization

In [36]:
import numpy as np
from scipy import sparse
# create binary matrix
example = np.array(
[
[0, 0, 0, 0, 1, 0],
[0, 1, 0, 0, 0, 0],
[1, 0, 0, 0, 0, 0]
]
)
# print size in bytes
print(f"Size of dense array: {example.nbytes}")
# convert numpy array to sparse CSR matrix
sparse_example = sparse.csr_matrix(example)
# print size of this sparse matrix
print(f"Size of sparse array: {sparse_example.data.nbytes}")
full_size = (
sparse_example.data.nbytes +
sparse_example.indptr.nbytes +
sparse_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

Size of dense array: 144
Size of sparse array: 24
Full size of sparse array: 52

We see that the dense array size is much larger than the one with binarization.
However, the size of the sparse array is much less. Let’s try this with a much larger
array. In this example, we will use OneHotEncoder from scikit-learn to transform
our feature array with 1001 categories into dense and sparse matrices.

### OneHotEncoding

In [39]:
import numpy as np
from sklearn import preprocessing
# create random 1-d array with 1001 different categories (int)
example = np.random.randint(1000, size=1000000)
# initialize OneHotEncoder from scikit-learn
# keep sparse = False to get dense array
ohe = preprocessing.OneHotEncoder(sparse_output=False)
# fit and transform data with dense one hot encoder
ohe_example = ohe.fit_transform(example.reshape(-1, 1))
# print size in bytes for dense array
print(f"Size of dense array: {ohe_example.nbytes}")
# initialize OneHotEncoder from scikit-learn
# keep sparse = True to get sparse array
ohe = preprocessing.OneHotEncoder(sparse_output=True)
# fit and transform data with sparse one-hot encoder
ohe_example = ohe.fit_transform(example.reshape(-1, 1))
# print size of this sparse matrix
print(f"Size of sparse array: {ohe_example.data.nbytes}")
full_size = (
ohe_example.data.nbytes +
ohe_example.indptr.nbytes + ohe_example.indices.nbytes
)
# print full size of this sparse matrix
print(f"Full size of sparse array: {full_size}")

Size of dense array: 8000000000
Size of sparse array: 8000000
Full size of sparse array: 16000004

### Data manipulation

In [40]:
df.groupby(["ord_2"])["id"].transform("count")

0         33768
1         22227
2         63908
3         60627
4         99816
          ...
299995    99816
299996    99816
299997    60627
299998    60627
299999    99816
Name: id, Length: 300000, dtype: int64

It adds a new column (or Series) that shows, for each row in df, how many rows have the same ord_2 value — by counting the number of occurrences of each value in the "ord_2" column using the "id" column.

In [41]:
df.groupby(['ord_1','ord_2'])['id'].count().reset_index(name='count')

          ord_1  ord_2  count
0   Contributor      0   8692
1   Contributor      1   4842
2   Contributor      2  14284
3   Contributor      3   3122
4   Contributor      4   9074
5   Contributor      5   2857
6        Expert      0   4980
7        Expert      1   2850
8        Expert      2   8432
9        Expert      3   1887
10       Expert      4   5274
11       Expert      5   1642
12  Grandmaster      0  15719
13  Grandmaster      1   8702
14  Grandmaster      2  25620
15  Grandmaster      3   5697
16  Grandmaster      4  16617
17  Grandmaster      5   5073
18       Master      0   5720
19       Master      1   3129
20       Master      2   9401
21       Master      3   2069
22       Master      4   5882
23       Master      5   1852
24       Novice      0  25516
25       Novice      1  14245
26       Novice      2  42079
27       Novice      3   9452
28       Novice      4  27061
29       Novice      5   8230

- is used to count the number of rows (based on id) for each combination of ord_1 and ord_2 values in your DataFrame.
- .reset_index(name="count")
Resets the index (so you get a flat DataFrame) and renames the id count column to "count".

In [43]:
# create new feature
df['new feature']=df.ord_1.astype(str)+"_"+df.ord_2.astype(str)
df['new feature'].head(5)

0    Grandmaster_1
1    Grandmaster_3
2         Expert_4
3    Grandmaster_0
4    Grandmaster_2
Name: new feature, dtype: object

#### Steps
Whenever you get categorical variables, follow these simple steps:
- • fill the NaN values (this is very important!)
- • convert them to integers by applying label encoding using LabelEncoder of scikit-learn or by using a mapping dictionary. If you didn’t fill up NaN
values with something, you might have to take care of them in this step
- • create one-hot encoding. Yes, you can skip binarization!