For pregnancy records, we extract the following variables:

'caseid' is the integer ID of the respondent.

'prglength' is the integer duration of the pregnancy in weeks.

'outcome' is an integer code for the outcome of the pregnancy. The code 1
indicates a live birth.

'birthord' is the integer birth order of each live birth; for example, the code
for a first child is 1. For outcomes other than live birth, this field is
blank.

'finalwgt' is the statistical weight associated with the respondent. It is a
floating-point value that indicates the number of people in the U.S.
population this respondent represents. Members of oversampled
groups have lower weights.

In [7]:
import pandas as pd

In [15]:
data=pd.read_csv('2002FemPreg.dat.gz',compression='gzip',delimiter='\t')

# Ex 1.3

In [3]:
import survey
table = survey.Pregnancies()
table.ReadRecords()
print('Number of pregnancies', len(table.records))

Number of pregnancies 13593

## Q2
Write a loop that iterates table and counts the number of live births.
Find the documentation of outcome and confirm that your result is
consistent with the summary in the documentation.

In [20]:
for i in range(len(table.records)):
    print(vars(table.records[i]))

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [23]:
for i in range(5):  # print first 5 records
    print(vars(table.records[i]))

{'caseid': 1, 'nbrnaliv': 1, 'babysex': 1, 'birthwgt_lb': 8, 'birthwgt_oz': 13, 'prglength': 39, 'outcome': 1, 'birthord': 1, 'agepreg': 0.33159999999999995, 'finalwgt': 6448.271111704751, 'totalwgt_oz': 141}
{'caseid': 1, 'nbrnaliv': 1, 'babysex': 2, 'birthwgt_lb': 7, 'birthwgt_oz': 14, 'prglength': 39, 'outcome': 1, 'birthord': 2, 'agepreg': 0.3925, 'finalwgt': 6448.271111704751, 'totalwgt_oz': 126}
{'caseid': 2, 'nbrnaliv': 3, 'babysex': 1, 'birthwgt_lb': 9, 'birthwgt_oz': 2, 'prglength': 39, 'outcome': 1, 'birthord': 1, 'agepreg': 0.1433, 'finalwgt': 12999.542264385902, 'totalwgt_oz': 146}
{'caseid': 2, 'nbrnaliv': 1, 'babysex': 2, 'birthwgt_lb': 7, 'birthwgt_oz': 0, 'prglength': 39, 'outcome': 1, 'birthord': 2, 'agepreg': 0.1783, 'finalwgt': 12999.542264385902, 'totalwgt_oz': 112}
{'caseid': 2, 'nbrnaliv': 1, 'babysex': 2, 'birthwgt_lb': 6, 'birthwgt_oz': 3, 'prglength': 39, 'outcome': 1, 'birthord': 3, 'agepreg': 0.1833, 'finalwgt': 12999.542264385902, 'totalwgt_oz': 99}

#### convert to dataframe

| Command               | What it does                              |
| --------------------- | ----------------------------------------- |
| `vars(obj)`           | Returns a dictionary of object attributes |
| `print(vars(record))` | Shows all fields and values in the record |

In [26]:
import pandas as pd

df = pd.DataFrame([vars(r) for r in table.records])
df.head()

,caseid,nbrnaliv,babysex,birthwgt_lb,birthwgt_oz,prglength,outcome,birthord,agepreg,finalwgt,totalwgt_oz
0,1,1,1,8,13,39,1,1,0.3316,6448.271112,141
1,1,1,2,7,14,39,1,2,0.3925,6448.271112,126
2,2,3,1,9,2,39,1,1,0.1433,12999.542264,146
3,2,1,2,7,0,39,1,2,0.1783,12999.542264,112
4,2,1,2,6,3,39,1,3,0.1833,12999.542264,99

#### Ans

In [35]:
count=0
for i in table.records:
    if i.outcome==1:
        count+=1
print(count) 

# ÷using pandas
print(len(df[df['outcome']==1]))

18296
18296

## Q3

Modify the loop to partition the live birth records into two groups, one
for first babies and one for the others. Again, read the documentation
of birthord to see if your results are consistent.
When you are working with a new dataset, these kinds of checks
are useful for finding errors and inconsistencies in the data, detect-
ing bugs in your program, and checking your understanding of the
way the fields are encoded.

In [37]:
live=0
oth=0
for i in table.records:
    if i.outcome==1 and i.birthord==1:
        live+=1
    elif i.outcome==1:
        oth+=1
print(live)
print(oth)

# ÷using pandas
print(len(df[(df['outcome']==1)&(df['birthord']==1)]))
print(len(df[(df['outcome']==1)&(df['birthord']!=1)]))

8826
9470
8826
9470

## Q4

Compute the average pregnancy length (in weeks) for first babies and
others. Is there a difference between the groups? How big is it?